__pycache__
.pytest_cache
*,cover
.coverage
htmlcov

# msgfmt sometimes leaves these behind in the root directory
/*.mo

# IntelliJ IDEA
.idea/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variable files
.env
.env.*
!.env.example
