# Run commitlint on the commit messages in a pull request.

name: Lint Commit Messages

on:
  - pull_request

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  commitlint:
    uses: openedx/.github/.github/workflows/commitlint.yml@master
